certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
cors==1.0.1
filelock==3.6.0
Flask==2.0.2
Flask-Cors==3.0.10
future==0.18.2
gevent==21.12.0
googlemaps==4.6.0
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
numpy==1.22.3
pandas==1.4.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.27.1
requests-file==1.5.1
six==1.16.0
tldextract==3.2.1
urllib3==1.26.9
Werkzeug==2.0.2
zope.event==4.5.0
zope.interface==5.4.0
